<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.md.dzbp">

    <!-- android:sharedUserId="android.uid.system" -->
    <!-- 允许应用程序接受开机广播 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 允许应用程序改变网络状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 允许应用程序改变WIFI连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 允许应用程序访问有关的网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许应用程序访问WIFI网卡的网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许应用程序完全使用网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许应用程序设置参数 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SET_TIME" />
    <uses-permission android:name="android.permission.SET_TIME_ZONE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:name=".Base.ClientApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/splashTheme">
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.activity.NoticeActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activity.ExamActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activity.TeacherActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.activity.StudentActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activity.PatrolActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activity.MeetingActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activity.SettingActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activity.ShowBigImageActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activity.SignActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" />

        <service
            android:name=".tcp.TcpService"
            android:enabled="true" />

        <receiver
            android:name=".tcp.TcpServiceInstalledReceiver"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.UploadService"
            android:enabled="true" />
    </application>

</manifest>